<div *ngIf="offer">
  <div class="container">
    <div class="offer-item">

      <div class="card text-center">
        <div class="card-header">
          {{offer.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{offer.location}}</h5>
          <p class="card-text">{{offer.description}}</p>

            <a href="{{Consts.Offer.USER_OFFER_LIST}}/{{offer.user.id}}" class="btn btn-primary">Zobacz wszystkie
              oferty {{offer.user.name}}</a>
          <div *ngIf="offer.user.id == loggedUser.id">
            <a href="{{Consts.Offer.EDIT_URL}}/{{offer.id}}" class="btn btn-info">Edytuj</a>
            <a href="{{Consts.Offer.URL}}/{{offer.id}}" class="btn btn-danger"
               (click)="onDeleteOffer(offer.id)">Usuń</a>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{offer.createdAt | date:'EEE, d MMM y'}}
        </div>
      </div>

      <div class="comments-section">
        <app-comment-offer></app-comment-offer>
      </div>
    </div>
  </div>
</div>
