<div *ngIf="user.loggedIn === undefined">Loading...</div>
<div *ngIf="user.loggedIn === false" class="logged-out">
  <input type="text" placeholder="Email" [(ngModel)]="user.email"><br><br>
  <input type="text" placeholder="Password" [(ngModel)]="user.password"><br><br>
  <button (click)="doLogin()">Login</button>
</div>
<div *ngIf="user.loggedIn" class="logged-in">
  You are logged in.

  <div class="account-balance-wrapper">
    <div *ngIf="accountBalance">
      Your balance is: {{accountBalance?.balance}}$
    </div>
    <div *ngIf="offers">
      <h2>Oferty pracy</h2>
      <div *ngFor="let offer of offers"> {{offer.name}}</div>
    </div>
    <br>
    <div>
      <button (click)="getBalance()">Get Account Balance</button>
      <button (click)="getOffers()">Get Offers</button>
    </div>
  </div>

  <button (click)="doLogout()">Log Out</button>

</div>


<div class="register--box">
  <input type="text" placeholder="name" [(ngModel)]="user.name">
  <input type="email" placeholder="email" [(ngModel)]="user.email">
  <input type="password" placeholder="password" [(ngModel)]="user.password">
  <button (click)="registerAction()">Register</button>

</div>

