.bg-container {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/images/worker-meeting.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-component{
  width:100%;
  height: 100%;
  display: flex;
  background: rgba(97, 119, 177, 0.11);
}

