<main class="main minh-100vh">
  <!-- Section -->
  <section class="py-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 order-lg-2">
          <div class="row minh-100vh h-100 align-items-center">
            <login class="login-component"></login>
          </div>
        </div>

        <div class="col-lg-6 order-lg-1 px-0 py-9">
          <div class="bg-container overlay overlay-10"
               style="height:100vh;width:100%; background-image: url('../../assets/images/worker-meeting.jpg')"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Section -->
</main>
