<div class="offers-content">
  <div class="container">
    <h3>Oferty pracy</h3>
    <div class="row">
      <div class="col-md-12" *ngFor="let offer of offerList">{{offer.name}}</div>
    </div>
  </div>
</div>


<!--<form #registrationForm="ngForm" (ngSubmit)="createOfferActon(); registrationForm.reset()">-->

  <!--<div class="register&#45;&#45;box">-->
    <!--<input required ngModel #registration_name="ngModel" name="registration_name" id="registration_name" class="form-control" type="text" placeholder="name" [(ngModel)]="user.name"><br>-->
    <!--<div class="alert alert-danger" *ngIf="registration_name.touched && !registration_name.valid">Name is required</div>-->
    <!--<input ngModel email #registration_email="ngModel" name="registration_email" id="registration_email" class="form-control" type="email" placeholder="email" [(ngModel)]="user.email"><br>-->
    <!--<div class="alert alert-danger" *ngIf="registration_email.touched && !registration_email.valid">Email is required</div>-->
    <!--&lt;!&ndash;TODO check pattern of the email&ndash;&gt;-->
    <!--<input ngModel name="registration_password" id="registration_password" class="form-control" type="password" placeholder="password" [(ngModel)]="user.password">-->
  <!--</div>-->

  <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>-->
<!--</form>-->
