<div class="container">

  <div *ngIf="offerList && offerList.length>0;then offers else no_offers"></div>
  <ng-template #offers>
    <h3 class="card-title">Moje oferty</h3>
    <div id="accordion">
      <div class="card" *ngFor="let o of offerList">
        <div class="card-header" id="heading-{{o.id}}">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse-'+o.id"
                    aria-expanded="true" [attr.aria-controls]="'collapse-'+o.id">
              {{o.name}}
            </button>

            <div *ngIf="loggedUser && o.user.id == loggedUser.id" class="float-right">
              <div class="comment--actions">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/offers/edit/{{o.id}}">Edytuj</a>
                    <a class="dropdown-item" (click)="onDeleteOffer(o.id)">Usuń</a>
                  </div>
                </div>
              </div>
            </div>


          </h5>
        </div>

        <div id="collapse-{{o.id}}" class="collapse" [attr.aria-labelledby]="'heading-'+o.id" data-parent="#accordion">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                Miejsce: {{o.location}}
              </div>
            </div>
            Opis:{{o.description | truncate:300}}


            <div class="clearfix"></div>
            <a class="btn btn-primary float-left" href="/offers/{{o.id}}">Zobacz więcej</a>


          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #no_offers>
    <h2>Nie masz dodanych ofert.</h2>
  </ng-template>
</div>

