<div *ngIf="!userLogged" class="align-self-center login-content">

  <form class="col px-lg-6 px-xl-8 px-xxl-11 py-9 py-lg-4" #loginForm="ngForm"
        (ngSubmit)="onSubmit(); loginForm.reset()" novalidate>
    <h1>Please sign in</h1>
    <h5 class="mb-5 text-700">Fill out the form to get started</h5>
    <div class="form-group mb-4">
      <input ngModel required #email="ngModel" name="email" id="email" class="form-control form-control-lg" type="email"
             placeholder="Email address" [(ngModel)]="user.email"><br>
    </div>
    <div class="form-group mb-4">
      <input ngModel name="password" id="password" class="form-control form-control-lg" type="password"
             placeholder="Password" [(ngModel)]="user.password"><br>
    </div>
    <button type="submit" class="btn btn-lg btn-secondary btn-block mb-4">Sign in</button>

    <p class="text-center text-600">Don't have account? <a href="{{consts.Oauth.REGISTER}}">Sign up</a></p>

    <div class="mt-5 pt-5 border-top-centered-30 border-top-centered-faded">
      <div class="row">
        <div class="col-12">
          <a href="{{consts.Offer.URL}}">
            <button type="button" class="btn btn-facebook btn-block">
              <span class="d-none d-lg-inline ml-3">Przeglądaj wszystkie oferty</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </form>

</div>

<div *ngIf="userLogged" class="align-self-center login-content">

  <div class="col px-lg-6 px-xl-8 px-xxl-11 py-9 py-lg-4">
    <h1>Witaj {{userLogged.name}} {{userLogged.lastName}}</h1>
    <h6>{{userLogged.email}}</h6>


    <!--<a class="btn btn-primary" href="{{consts.Offer.USER_OFFER_LIST}}/{{userLogged.id}}">Przeglądaj swoje oferty</a>-->

    <div class="mt-5 pt-5 border-top-centered-30 border-top-centered-faded">
      <div class="row">
        <div class="col-6">
          <a href="{{consts.Offer.USER_OFFER_LIST}}/{{userLogged.id}}">
            <button type="button" class="btn btn-facebook btn-block">
              <span class="d-none d-lg-inline ml-3">Moje oferty </span>
            </button>
          </a>

        </div>
        <div class="col-6">
          <a href="{{consts.Offer.URL}}">
            <button type="button" class="btn btn-facebook btn-block">
              <span class="d-none d-lg-inline ml-3">Wszystkie oferty</span>
            </button>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
