<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="{{consts.User.URL}}">{{consts.User.TITLE}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{consts.Offer.TITLE}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="{{consts.Offer.URL}}">All offers</a>
          <a class="dropdown-item" routerLink="{{consts.Offer.CREATE_URL}}">Add offer</a>
          <div *ngIf="loggedUser"><a class="dropdown-item"
                                     routerLink="{{consts.Offer.USER_OFFER_LIST}}/{{loggedUser.id}}">My offers</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="loggedUser" class="logged-in">
    <button class="btn btn-outline-success" (click)="doLogout()">
      Log out
    </button>
  </div>
</nav>
