<div class="container">
  <form #createOffer="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="commentContent">Kontent</label>
      <textarea ngModel required #commentContent="ngModel" name="commentContent" id="commentContent"
                class="form-control" type="text" placeholder="Comment Description"
                [(ngModel)]="newComment.content"></textarea>
    </div>
    <button type="submit" class="btn btn-success">
      Opublikuj komentarz
    </button>
  </form>
</div>
